production:
  address: "smtp.resend.com"
  port: 587
  user_name: "resend"
  password: {{RESEND_API_KEY}}
  authentication: plain
  enable_starttls: true
  domain: "bonesrnd.com"
  outgoing_address: "notifications@bonesrnd.com"
  default_name: "Bones LMS"
